<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zp.zphoto_lib">

    <application>
        <activity
            android:name=".ui.ZPhotoSelectActivity"
            android:theme="@style/ZPhoto_AppTheme_Lib" />

        <activity android:name=".ui.ZPhotoPreviewActivity"
            android:theme="@style/ZPhoto_AppTheme_Lib" />
        <activity android:name=".ui.crop.CropImageActivity" />
    </application>

</manifest>